@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins;
  }

  @keyframes spin-border {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  
  .before\:animate-spin-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 4px;
    background: conic-gradient(from var(--angle), #32cd32, #66BB6A, #FFC107);
    mask-composite: exclude;
    animation: spin-border 4s linear infinite;
  }
  

  body {
    padding-top: 128px; 
  }